@import "libs/mixin.scss";
@import "libs/variable.scss";




body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.page_content{
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    background-color: white;
    
}
main{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    background-color: white;
}

@keyframes main{
    0% {opacity: 1;}

    100% {opacity: 0;display: none;z-index: -1;}
}

.loader{
    position: absolute;
    position: fixed;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: auto;
    background:$background-color;
    animation: main 2s 300ms ease-in both;
    z-index: 2;
    &__spin {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -76px 0 0 -76px; 
        border: 15px solid grey ; 
        border-top: 15px solid $primary;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin  1s linear 3 ;
        
    }
      
    @keyframes spin {
    0% {  transform: rotate(0deg); }
    100% {  transform: rotate(360deg); }
    }
}
header{
    @include header;
}
.search{
    width: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__localisation{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($background-color,10%);
        box-shadow:inset 0px 2px 5px darken($background-color,30);
        font-weight: 600;
        position: relative;
        .search__icon{
            position: absolute;
            margin-left: -150px;
        }
    }
    &__info{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 10px 50px 10px;
        .search__heading{
            margin-bottom: 0;
        }
        .search__text{
            font-size: large;
        }
        .search__button{
            @include btn-gradient;
        }
    }
}
.functioning{
    padding: 30px 0px 30px 0px;
    &__heading{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    &__lists{
        padding-left: 10px;
        .list{
            @include functioning__btn;
        }
    }
}

.restaurant-card{
    background-color: $background-color;
    @media screen and (min-width: 768px){
        padding-bottom: 30px;
    }
    &__heading{
        padding: 50px 20px 20px 20px;
        margin-top: 0;
        margin-bottom: 0;
        @media screen and (min-width: 768px){
           display: flex;
           justify-content: center;
           font-size: 40px;
        } 
    }
    &__content{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            @include card;
            @media screen and (min-width: 768px){
                margin:20px;
            }
        }
        .card-3{
            @media screen and (min-width: 768px){
                margin-bottom: 40px;
            }
        }
        .card-4{
            margin-bottom: 60px;
            @media screen and (min-width: 768px){
                margin-bottom: 40px;
                
            }
           
        }
    }
}
.footer{
    @include footer;
}
